body {
    background-color: red;
}

#d1 {
    width: 100px;
    height: 100px;
    background-image: url('./again.png');
}
#d2 {
    width: 100px;
    height: 100px;
    background-image: url('./bullet1.png');
}